body{
    padding: 0px !important;
    margin: 0 !important;
}
.container-fluid{
    padding: 0px !important;
}
.navbar{
    padding: 25px 0px !important;
}
.navbar-brand{
 font-size: 30px !important;
 color: #fff;
 position: relative;
 z-index: 10;
 display: block;
}

.back-img{
    background-image: url("pizza-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}
.nav{
    justify-content: center;
    
}
.nav a{
    padding: 0px 20px;
    font-size: 25px;
    color: #fff;
}
.nav a:hover{
    transform: rotate(10deg) scale(1.2);
    transition: 0.9s;
    letter-spacing: 5px;
    display: flex;
    color: #ffba00;
    text-decoration: none;
}
.nav-logo{
    background: #ffba00;
    padding-left: 150px;
    animation: slide 3s ease-out 1;
    border-radius: 3px;
}
.nav-logo a:hover{
    transform: rotate(10deg) scale(1.2);
    transition: 0.9s;
}
@keyframes slide{
    0%{
        transform: translateX(-300px);
    }
    50%{
        transform:scaleX(1.6) rotateX(50deg);
      
    }
}
.grand-opening{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0%;
    color: #fff;
    z-index: 10;
    background:#ffba00;
    display: flex;
    width: 100%;
    height: 20%;
    animation: back 1s linear 1;
}

.text-1{
    position: absolute;
    left: 20%;
    text-transform: uppercase;
}
.text-1 h1{
    font-size: 80px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    letter-spacing: 25px;
    display: flex;
  
}
.text-1 h2{
    font-size: 60px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 500;
    letter-spacing: 50px ;
    display: inline-block;
}
.read-more{
  text-align: right;
  background: #ffba00;
  padding: 18px 40px;
  border: 3px solid #fff;
  margin-top: -100px !important;
  margin-left: 790px;
  color: #fff;
  font-size: 25px;
  display: flex;
  box-shadow: 5px 5px;
}
.read-more:hover{
    transition: 0.7s;
    text-decoration: none;
    transform: scale(1);
   box-shadow: 0px 0px;
   color: black;
   border: none;
}
@keyframes back{
    0%{
        width: 0px;
        justify-content: center;
        transform: rotateX(00deg);
    }
    100%{
        width: 100%;
        transform: rotateX(360deg);
    }
}

.container{
    background: #242424;
    max-width: 100% !important;
    padding: 50px 0px !important;
    padding-bottom:0 !important;
    
}

.text-2{
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}
.text-2 h2{
    color: #fff;
    position: relative;
}
.text-2 h3{
    transform: rotate(90deg);
    position: absolute;
    left: 20%;
    top: 40%;
    letter-spacing: 5px;
    animation: text 1s ease 1;
    animation-delay: 2s;
}
.new{
    text-align: left;
    justify-content: center;
    display: flex;
    margin-left: 200px;
    background: #ffba00;
    height: 100px;
    animation: new 2s ease-in-out 1;
    animation-delay: 1.5s;
}
.new li{
    list-style-type: none;
    border-left: 2px solid #fff;
    padding: 10px;
    font-size: 20px;
}
@keyframes text{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes new{
    0%{
      transform: rotateX(90);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotate(90dg);
    }
}

.format{
    background: #fff;
    padding: 50px 150px;
}
.format h1{
    color: #ffba00;
}